.page {
  background-color: #2a2c2f;
  min-width: 320px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .page {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
