.footer {
  margin: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  color: #ffff;
}

@media screen and (max-width: 1280px) {
  .footer {
    max-width: 1184px;
  }  
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }  
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 710px) {
  .footer {
    margin-left: 16px;
    margin-top: 64px;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
  }
}

